.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px auto 100px;
    height: 35vh;
    grid-template-rows: 70% 30%;
    gap: 5px;
    /* grid-row-gap: 10px; --> geralmente se utiliza o gap de padrão
    grid-column-gap: 15px; */    
}
.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
.espaco {
    height: 5px;
}
/* template area */
#template-areas {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas:
    'header header header header'
    'sidebar content content content'
    'footer footer footer footer'
}
#template-areas div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
#header {
    grid-area: header; /* este é o "link" entre as template-areas e o html */ 
}

#sidebar {
    grid-area: sidebar; /* este é o "link" entre as template-areas e o html */ 
}

#content {
    grid-area: content; /* este é o "link" entre as template-areas e o html */ 
    height: 50vh;
}

#footer {
    grid-area: footer; /* este é o "link" entre as template-areas e o html */ 
}
/* alinhamento & individuais */
#recipiente {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 5px;
    height: 50vh;        
    /* horizontal */
    justify-content: center;
    /* vertical */ 
    align-items: center;
}
#recipiente div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
#recipiente div.item {
    background-color: #333;
    padding: 20px;
    border: 1px solid green;
    color: red;
}

#sete {
    grid-column-start: 2;
    grid-column-end: 3;
}
#oito {
    grid-column-start: 2;
    /*grid-column-end: 3;*/
    grid-row-end: 3;
}
#nove {
    grid-column-start: 1;
    /*grid-column-end: 4;*/
    grid-row-start: 1;
    justify-self: center;
}
*/
#dez {
    grid-row-start: 3;
    grid-column-start: 4;
    align-self: center; /* start & end, são outras opções */
    /*position: relative;*/
}

#onze {
    grid-row-start: 1;
    grid-column-start: 3;
}

#doze {
    grid-row-start: 3;
    grid-column-start: 3;
}
